{% extends 'basic/layout.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="password_change">
    <h2>Изменение пароля</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
    
        <p><button type="submit">Изменить пароль</button></p>
    </form>
</div>
{% endblock %}
