{% extends 'basic/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class='wrapper'>
    <h2>Регистрация</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <p><button type="submit">Регистрация</button></p>
        </form>
    </div>
</div>
{% endblock %}
