{% extends 'basic/layout.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}О нас{% endblock %}

{% block content %}

<div class="wrapper">
    <h2>О нас</h2>
    <div class="about-info">
        <img src="{% static 'img/shop-building.png' %}" alt="shop-building">
        <div class="about-info-text">
            <span>Уже 10 лет продаём вкусную и качественную еду для домашних животных!</span>
            <p>
                Мы продаем только качественные зоотовары.
                Вся продукция сертифицирована в обязательном порядке.
                Постоянно расширяем ассортимент.
                Имеем статус ветеринарной аптеки.
                Работаем без выходных.
                Питомец — приоритет. Думаем о пользе, которую приносим питомцам.
                Экологичность. Бережно относимся к природе (животные, растения, люди, планета), используем возобновляемые ресурсы.
                Инновационность. Применяем IT-технологии, чтобы стать доступнее и ближе к покупателю.
                Эффективность. Занимаемся тем, что лучше умеем, используя знания.
                Честность. Выполняем обещания и ответственны за решения.
            </p>
            <p>
                Мы находимся по адресу: ул. Индустриальная 30, Торговый Центр Куб
            </p>
        </div>
    </div>
</div>

{% endblock %}